{% extends 'base.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}

{% block page_name %}{{ user.login }}{% endblock %}

{% block content %}

<div class="example-wrapper">
    <h1>{{ controller_name }}! ✅</h1>

    <p>Single User Page for <b>{{ user.login }}</b></p>
    <p>{{ user.id }} - {{ user.login }}</p>
</div>
{% endblock %}
